* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.logo img {
  max-width: 120px;
  height: auto;
  align-items: center;
}

.nav menu {
  display: flex;
}

.id {
  font-size: larger;
  font-weight: bold;
  padding: 10;
  text-decoration: none;
}
.navmenu {
  display: flex;
}
.navmenu li {
  color: #2c2c2c;
  font-size: 17px;
  text-transform: capitalize;
  padding: 10px 10px;
  font-weight: 400;
}
.navmenu li:hover{
    color:red;
    
}